body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

fieldset {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}